{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Nmap Port Scan Online</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1 class="bold topp left">$./Nmap-Online.sh</h1>
        <p>
            Simply enter an IP address or hostname, and hit enter to scan!
            <div class=tile>
                <form action="/submit/" method="post">{% csrf_token %}
                    <label>IP or hostname</label>
                    <input type="text" id="host" name="host"><br><br>
                    <input type="submit" value="Submit" class=button>
                </form>    
            </div>
        </p>
       <hr><br>
        <div>
            <h2 class=left>Results and history:</h2>
            <div class=tilefixedwidth>
                <ul>
                    {% for result in all_results %}
                    <li>Scan Result for host {{result.host}}:<pre>{{result.content}}</pre></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>